.recipe_list{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.recipe_item {
  margin-bottom: 20px;
}

@media screen and (min-width:500px) and (max-width:900px) {
  .recipe_list{
    margin-right: 30px;
    margin-left: 30px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .recipe_item {
    width: 400px;
  }
}

@media screen and (min-width:901px){
  .recipe_list{
    margin-right: 30px;
    margin-left: 30px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .recipe_item {
    width: 250px;
  }
}

