*{
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
.recipe_list{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.recipe_item {
  margin-bottom: 20px;
}

.infredients_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome {
  width: 100%;
  background-image: url("./images/slider.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: green;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.controllers {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.css-1jxqrpk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width:500px) and (max-width:900px) {
  .recipe_list{
    margin-right: 30px;
    margin-left: 30px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .controllers {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .recipe_item {
    width: 400px;
  }

 .css-1jxqrpk {
    width: 90%;
}
}
@media screen and (min-width:901px){
  .recipe_list{
    margin-right: 30px;
    margin-left: 30px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
  }

  .controllers {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .recipe_item {
    width: 300px;
  }
  .css-1jxqrpk {
    margin-top: 30px;
    width: 80%;
}
}

